@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
html{
    text-align: center;
    color: rgb(209, 209, 209);
    background-color: rgb(80, 0, 134);
    font-family: 'Anton', sans-serif;
}